@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


.tora-logo {
  position: absolute;
  width: 87px;
  height: 84px;
  left: 16%;
  top: 10%;
}

Button {
  position: absolute;
  width: 208px;
  height: 57px;
  left: 25%;
  top: 610px;
  background: #00A651 !important;
  border-radius: 30px !important; 
  font-weight: bold !important;
}

a:link {
  text-decoration: none !important;
  color: #ffff !important;
}

a:visited {
  text-decoration: none !important;
  color: #ffff !important;
}

a:hover {
  text-decoration: none !important;
  color: #ffff !important;
}

a:active {
  text-decoration: none !important;
  color: #ffff !important;
}


.titleTerm {
  position: absolute;
  width: 50%;
  height: 54px;
  left: 3%;
  top: 93px;
  bottom: 5%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 59px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #00A651;
}

.textBody {
  position: absolute;
  width: 45%;
  height: 393px;
  left: 25%;
  top: 22%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #000000;
  overflow:auto;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px 5px 5px 5px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 30px !important;
}
 
::-webkit-scrollbar-thumb {
  background: #C4C4C4; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 380px) and (min-width: 300px)
{
  .tora-logo {
    position: absolute;
    width: 57px;
    height: 54px;
    left: 16%;
    top: 10%;
  }

  .titleTerm {
    position: absolute;
    width: 100%;
    height: 0%;
    left: -15%;
    right: 0px;
    top: 14%;
    bottom: 5%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 130%;
    line-height: 59px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #00A651;
  }

  Button {
    position: absolute;
    width: 210px;
    height: 57px;
    left: 25%;
    top: 570px;
    background: #00A651 !important;
    border-radius: 30px !important; 
    font-weight: bold !important;
  }
  
  .textBody {
    position: absolute;
    width: 55%;
    height: 393px;
    left: 25%;
    top: 22%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #000000;
    overflow:auto;
  }
}

@media only screen and (max-width: 800px) and (min-width: 380px) {
  
  .tora-logo {
    position: absolute;
    width: 57px;
    height: 54px;
    left: 16%;
    top: 10%;
  }
  
  .titleTerm {
    position: absolute;
    width: 100%;
    height: 0%;
    left: -12%;
    right: -10%;
    top: 14%;
    bottom: 5%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    line-height: 59px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #00A651;
  }
  
  .textBody {
    position: absolute;
    width: 55%;
    height: 393px;
    left: 25%;
    top: 23%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #000000;
    overflow:auto;
  }

}
